// Footer Section Start *********************
footer {
  height: auto;
  background: rgba(0, 0, 0, 0.9);
  padding: 2rem 0;
}

.footer-container {
  .social-icons {
    @include flexBox(column);
    padding-bottom: 3rem;
    h1 {
      font-size: 6rem;
      color: white;
      font-family: "Dancing Script", cursive;
      margin-bottom: 3rem;
      color: var(--color-secondary);
    }
    .icons {
      width: 40%;
      margin: auto;
      @include flexBox;
      justify-content: space-between;
      img {
        width: 6rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 1rem;
        border-radius: 5px;
        // opacity: 0.7;
        filter: grayscale(50%);
        transition: 0.3s;

        &:hover {
          filter: grayscale(0);
          transform: scale(0.9);
        }
      }
    }
  }
}

.footer-bottom {
  @include flexBox;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  text-align: left;
  // border-top: 2px solid white;
  // padding-top: 3rem;
  h3 {
    font-size: 2.5rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.6rem;
    color: white;
    line-height: 3rem;

    a {
      color: white;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: rgb(0, 174, 255);
      }
    }
  }
}
// Footer Section End ######################
