// Reservation Section Start ***********************
.reservation {
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/reservation-bg.jpg);
  background-size: cover;
  padding: 8rem;
}

.reservation-container {
  background-image: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-size: cover;
  @include flexBox();
  align-items: stretch;
  padding: 2rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.404);

  .left {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    @include flexBox(column);
    justify-content: space-evenly;
    border-radius: 5px;

    h1 {
      font-size: 6rem;
      color: var(--color-secondary);
      font-family: "Dancing Script", cursive;
      font-weight: 700;
      margin-bottom: 4rem;
      text-align: center;
    }
    p {
      font-size: 2rem;
      font-family: "Courgette", cursive;
      text-align: center;
      color: white;
      font-weight: 200;
    }
  }

  .right {
    width: 70%;
    height: 100%;
    @include flexBox;

    form {
      width: 100%;
      height: 100%;
      text-align: right;
      padding-left: 4rem;

      input {
        appearance: none;
        display: inline-block;
        width: 100%;
        margin: 1rem 0;
        padding: 1.5rem 0;
        padding-left: 2rem;
        border-width: 1px;
        border-color: rgba($color: #000000, $alpha: 0.2);
        outline: none;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.3);
        font-size: 1.8rem;
        color: #fff;
        border-bottom: 2px solid transparent;
        transition: 0.3s;

        &:focus {
          outline: none;
          border-bottom: 2px solid green;
        }

        &:focus:invalid {
          border-bottom: 2px solid orangered;
        }

        &::placeholder {
          opacity: 1;
          font-size: 1.8rem;
          color: #ccc;
        }

        &[name="reservation"] {
          display: inline-block;
          width: 60%;
          margin-left: -2rem;
        }
      }

      button {
        background-color: var(--color-secondary);
        font-size: 2rem;
        cursor: pointer;
        text-transform: uppercase;
        transition: 0.3s;
        outline: none;
        border: none;
        padding: 1.5rem 2rem;
        margin-top: 1rem;
        border-radius: 5px;
        display: block;
        width: 100%;
        color: black;

        &:hover {
          background-color: var(--color-primary);
        }
      }

      .select {
        display: inline-block;
        width: 40%;
        position: relative;
        margin: 1.5rem 0;

        &::after {
          content: "\003E";
          position: absolute;
          right: 1rem;
          top: 50%;
          color: #ddd;
          transform: translateY(-50%) rotate(90deg);
          font-size: 2.5rem;
          pointer-events: none;
        }
      }

      select {
        appearance: none;
        display: inline-block;
        width: 100%;

        padding: 1.5rem 0;
        padding-left: 2rem;
        border-width: 1px;
        border-color: rgba($color: #000000, $alpha: 0.2);
        outline: none;
        border-radius: 5px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.3);
        font-size: 1.8rem;
        color: #ccc;
        cursor: pointer;

        option {
          font-size: 1.8rem;
          opacity: 0.7;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
        }
      }
    }
  }
}
// Reservation Section end #########################
